In [380]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Question 1

In [16]:
s   = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [17]:
url = 'https://www.naukri.com/'
driver.get(url)
driver.delete_all_cookies()

In [18]:
search_jobs = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobs.clear()
search_jobs.send_keys('Data Analyst')

In [19]:
search_location = driver.find_element(By.XPATH, '/html/body/div/div[2]/div[4]/div/div/div[3]/div/div/div/input')
search_location.clear()
search_location.send_keys('Bangalore')

In [20]:
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')

In [21]:
search_button.click()

In [28]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [29]:
experience = driver.find_elements(By.XPATH, '//span[contains(@title,"Yrs")]')

In [30]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [31]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [36]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]
experience_df = [_.text for _ in experience][:10]

In [43]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
    'Experience Required' : experience_df
}, index = np.arange(1,11))

# Question 2

In [61]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [62]:
url = 'https://www.naukri.com/'
driver.get(url)
driver.delete_all_cookies()

In [63]:
search_jobTitle = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobTitle.clear()
search_jobTitle.send_keys('Data Scientist')

In [64]:
search_location = driver.find_element(By.XPATH, '/html/body/div/div[2]/div[4]/div/div/div[3]/div/div/div/input')
search_location.clear()
search_location.send_keys('Bangalore')

In [65]:
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')

In [66]:
search_button.click()

In [67]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [68]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [69]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [70]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]

In [71]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
}, index = np.arange(1,11))

In [72]:
df

,Job Title,Company Location,Company Name
1,Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Shell
2,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell
3,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd
4,Opportunity For Data Scientist Internship - Be...,"Indore, Bangalore/Bengaluru\n(WFH during Covid)",Corner Stone Solutions
5,Louis Dreyfus Company Looking For Data Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities
6,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
7,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
8,GSC Operational Analytics Data Scientist,Bangalore/Bengaluru,Intel
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
10,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM

# Question 3

In [92]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [93]:
url = 'https://naukri.com'
driver.get(url)
driver.delete_all_cookies()

In [94]:
search_jobTitle = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobTitle.clear()
search_jobTitle.send_keys('Data Scientist')

In [95]:
search_button = driver.find_element(By.CLASS_NAME, 'qsbSubmit')

In [96]:
search_button.click()

In [97]:
location_filter = driver.find_element(By.XPATH, '//span[contains(@title,"Delhi / NCR")]')
driver.delete_all_cookies()

In [98]:
location_filter.click()

In [99]:
salary_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
driver.delete_all_cookies()

In [100]:
salary_filter.click()

In [101]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [102]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [103]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [104]:
experience = driver.find_elements(By.XPATH, '//span[contains(@title,"Yrs")]')

In [105]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]
experience_df = [_.text for _ in experience][:10]

In [109]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
    'Experience Required' : experience_df
}, index = np.arange(1,11))

In [110]:
df

,Job Title,Company Location,Company Name,Experience Required
1,Data Scientist,New Delhi,CHANGE LEADERS CONSULTING,3-8 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)",DECISION POINT PRIVATE LIMITED,1-6 Yrs
3,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
4,Data Scientist | A Fintech Organisation,Gurgaon/Gurugram,Vision Beyond Resources India Private Limited,2-7 Yrs
5,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Alp Consulting Limited,1-6 Yrs
6,Data Scientist-Onsite and offshore,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",PROKXIMITY,3-8 Yrs
7,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
8,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
9,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL,3-8 Yrs
10,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs

# Question 4

In [491]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [492]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [493]:
driver.maximize_window()

In [494]:
# close interuppting window
close_window = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')

In [495]:
close_window.click()

In [496]:
search_sunglasses = driver.find_element(By.CLASS_NAME, '_3704LK')
search_sunglasses.clear()
search_sunglasses.send_keys('sunglasses')

In [497]:
search_button = driver.find_element(By.CLASS_NAME,'L0Z3Pu')

In [498]:
search_button.click()

In [499]:
brand_df = []
description_df = []
price_df = []

In [500]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[0].click()

In [501]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[1].click()

In [502]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

In [507]:
df = pd.DataFrame(data = {
    'Brand' : brand_df[:100],
    'Description' : description_df[:100],
    'Price' : price_df[:100]
}, index = range(1,101))

In [518]:
df.head()

            Brand                                        Description Price
1       Rich Club                UV Protection Round Sunglasses (48)  ₹174
2  ROZZETTA CRAFT  UV Protection, Riding Glasses Rectangular Sung...  ₹426
3        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹721
4       Elligator                UV Protection Round Sunglasses (54)  ₹248
5            SRPM             UV Protection Wayfarer Sunglasses (50)  ₹188

# Question 5

In [726]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [727]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

In [728]:
driver.get(url)

In [729]:
all_reviews = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')

In [730]:
all_reviews.click()

In [731]:
rating  = []
review  = []
summary = []

In [732]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]

In [733]:
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[0].click()

In [734]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [735]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [736]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [737]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [738]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [739]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [740]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [742]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [747]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [748]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [749]:
df = pd.DataFrame(data = {
    'Rating':rating[:100],
    'Review':review[:100],
    'Full Review':summary[:100]
}, index = range(1, 101)
                 )

# Question 6

In [821]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)
url = 'https://www.flipkart.com/'
driver.get(url)

In [822]:

close_window = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button').click()

In [823]:
search_sunglasses = driver.find_element(By.CLASS_NAME, '_3704LK')
search_sunglasses.clear()
search_sunglasses.send_keys('sneakers')

In [824]:
driver.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [825]:
brand_df = []
description_df = []
price_df = []

In [826]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[0].click()

In [827]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[1].click()

In [830]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[1].click()

In [831]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

In [832]:
df = pd.DataFrame(data = {
    'Brand' : brand_df[:100],
    'Description' : description_df[:100],
    'Price' : price_df[:100]
})

In [835]:
df.head()

       Brand                                        Description Price
0     BRUTON             Lattest Sneakers Shoe Sneakers For Men  ₹259
1     BRUTON  Lightweight Pack Of 1 Trendy Sneakers Sneakers...  ₹189
2  Trendmode  white Casual shoes,Sneakers for men's Sneakers...  ₹249
3       aadi                   Puma Smash v2 L Sneakers For Men  ₹399
4      Xtoon                          Series 7 Sneakers For Men  ₹479

# Question 7

In [941]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [942]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [943]:
driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label').click()

In [944]:
driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()

In [945]:
brand = []
price = []
descr = []

In [947]:
brand_element = driver.find_elements(By.CLASS_NAME, 'product-brand')
brand += [_.text for _ in brand_element]
price_element = driver.find_elements(By.CLASS_NAME, 'product-price')
price += [_.text for _ in price_element]

In [948]:
descr_element = driver.find_elements(By.XPATH, '//h4[@class="product-product"]')

In [949]:
descr += [_.text for _ in descr_element]

In [950]:
driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a').click()

In [951]:
driver.implicitly_wait(20)

In [952]:
brand_element = driver.find_elements(By.CLASS_NAME, 'product-brand')
brand += [_.text for _ in brand_element]
price_element = driver.find_elements(By.CLASS_NAME, 'product-price')
price += [_.text for _ in price_element]

In [953]:
descr_element = driver.find_elements(By.XPATH, '//h4[@class="product-product"]')

In [954]:
descr += [_.text for _ in descr_element]

In [955]:
df = pd.DataFrame(data ={
    'Brand':brand,
    'Price':price,
    'Description':descr
}, index = range(1,101))

In [959]:
df.head()

,Brand,Price,Description
1,Nike,Rs. 1199Rs. 3495(Rs. 2296 OFF),Kids Revolution 4 Running
2,Puma,Rs. 3024Rs. 5499(45% OFF),Women Enzo 2 Running Shoes
3,MENGLER,Rs. 759Rs. 3999(81% OFF),Men Walking Shoes
4,Cultsport,Rs. 2989Rs. 4599(35% OFF),Men RN02 Dazsh Running Shoes
5,HRX by Hrithik Roshan,Rs. 1639Rs. 4099(60% OFF),Women Running Shoes

# Question 8

In [969]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)
driver.get('https://www.amazon.in/')

In [970]:
driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input').send_keys('Laptop')

In [971]:
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [972]:
str_i7 = '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[12]/span/a/span'
str_i9 = '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[13]/span/a/span'

In [973]:
filter_element = driver.find_element(By.XPATH, str_i7 and str_i9)

In [974]:
filter_element.click()

In [975]:
title = []
rating= []
price = []

In [978]:
title_element = driver.find_elements(By.XPATH, '//span[@class = "a-size-medium a-color-base a-text-normal"]')
title += [_.text for _ in title_element]

In [983]:
rating_element = driver.find_elements(By.XPATH, '//span[@class="a-icon-alt"]')
rating += [_.text for _ in rating_element]

In [987]:
rating_element[0].text

''

# Question 9

In [995]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [996]:
driver.maximize_window()

In [997]:
driver.find_element(By.XPATH, '/html/body/footer/div[1]/div[3]/div/div[4]/a').click()

In [998]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input').send_keys('Data Scientist')

In [999]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span').click()

In [1000]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p').click()

In [1001]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')

In [1002]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [1023]:
company = driver.find_elements(By.XPATH, '//p[@class = "company body-medium"]')

In [1030]:
days = driver.find_elements(By.XPATH, '//span[contains(text(),"ago")]')

In [1037]:
rating = driver.find_elements(By.XPATH, '//a[contains(@title,"Rating")]')

In [1031]:
company_df = [_.text for _ in company]

In [1032]:
days_df = [_.text for _ in days]

In [1041]:
rating_df = [_.text for _ in rating][1:]

In [1044]:
df = pd.DataFrame(data = {
    'Company name':company_df,
    'Days since posted':days_df,
    'Company rating':rating_df
} ,index = range(1,11))

In [1045]:
df

                           Company name Days since posted Company rating
1            Jubilant Foodworks Limited           15d ago            3.9
2                      HCL Technologies           28d ago            3.8
3                                EY GDS           30d ago            3.7
4   Tavant Technologies India Pvt. Ltd.            9d ago            4.0
5                 Denave India Pvt Ltd.            9d ago            4.0
6                           EXL Service           22d ago            3.8
7                          CHT Sapiense            3d ago            3.8
8            Pitney Bowes India Pvt ltd           29d ago            4.2
9                                 Zyoin            7d ago            4.1
10                 Ameriprise Financial          1mon ago            4.0

# Question 10

In [1046]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [1047]:
driver.find_element(By.XPATH, '/html/body/div[1]/nav/nav/a[4]').click()

In [1052]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input').send_keys('Data Scientist')

In [1053]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div/div/div/button').click()

The website keeps redirecting the user to the reviews page and hence we select the suggested review about the data scientist salary

In [1056]:
driver.find_element(By.XPATH, '/html/body/section[1]/div/section/div/div/div/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a').click()

switching windows, since the link keeps opening a new tab

In [1061]:
p = driver.current_window_handle

In [1063]:
c = driver.window_handles

In [1068]:
for cw in c:
    if(c!=p):
        driver.switch_to.window(cw)

In [1069]:
company_info_element = driver.find_elements(By.XPATH, '//div[@class="company-info"]')

In [1128]:
company_info = [_.text.split('\n') for _ in company_info_element]

In [1129]:
company_name = []
salaries = []
exp = []
for relevant_info in company_info:
    company_name.append(relevant_info[0])
    salaries.append(relevant_info[1])
    exp.append(relevant_info[3])

In [1120]:
salary_ranges_element = driver.find_elements(By.XPATH, '//div[@class="result-col salary-range"]')

In [1123]:
salary_ranges = [_.text.split('\n') for _ in salary_ranges_element]

In [1124]:
salary_min = []
salary_max = []
salary_avg = []

In [1126]:
for s in salary_ranges:
    salary_avg.append(s[0])
    salary_min.append(s[1])
    salary_max.append(s[2])

In [1130]:
df = pd.DataFrame(data={
    'Company Name':company_name,
    'Salaries record':salaries,
    'Experiene required':exp,
    'Salary Minimum':salary_min,
    'Salary Average':salary_avg,
    'Salary Maximum':salary_max
}, index = range(1, 11))

In [1131]:
df

,Company Name,Salaries record,Experiene required,Salary Minimum,Salary Average,Salary Maximum
1,TCS,(699 Salaries),2-9 yrs exp,₹ 4.5L,₹ 7.5L,₹ 15.0L
2,Accenture,(422 Salaries),2-9 yrs exp,₹ 5.5L,₹ 12.3L,₹ 23.0L
3,IBM,(341 Salaries),2-12 yrs exp,₹ 5.1L,₹ 12.8L,₹ 25.0L
4,Cognizant,(267 Salaries),2-11 yrs exp,₹ 5.0L,₹ 9.4L,₹ 17.0L
5,Capgemini,(262 Salaries),2-8 yrs exp,₹ 4.5L,₹ 8.2L,₹ 14.5L
6,Tech Mahindra,(201 Salaries),2-13 yrs exp,₹ 4.1L,₹ 7.8L,₹ 16.4L
7,Infosys,(191 Salaries),2-8 yrs exp,₹ 4.5L,₹ 8.8L,₹ 21.0L
8,Wipro,(187 Salaries),2-9 yrs exp,₹ 4.4L,₹ 9.4L,₹ 18.2L
9,Deloitte,(131 Salaries),1-7 yrs exp,₹ 6.9L,₹ 12.9L,₹ 24.0L
10,Fractal Analytics,(131 Salaries),2-6 yrs exp,₹ 9.5L,₹ 15.3L,₹ 22.4L