In [2]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

# Question 1

In [16]:
s   = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [17]:
url = 'https://www.naukri.com/'
driver.get(url)
driver.delete_all_cookies()

In [18]:
search_jobs = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobs.clear()
search_jobs.send_keys('Data Analyst')

In [19]:
search_location = driver.find_element(By.XPATH, '/html/body/div/div[2]/div[4]/div/div/div[3]/div/div/div/input')
search_location.clear()
search_location.send_keys('Bangalore')

In [20]:
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')

In [21]:
search_button.click()

In [28]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [29]:
experience = driver.find_elements(By.XPATH, '//span[contains(@title,"Yrs")]')

In [30]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [31]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [36]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]
experience_df = [_.text for _ in experience][:10]

In [43]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
    'Experience Required' : experience_df
}, index = np.arange(1,11))

# Question 2

In [61]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [62]:
url = 'https://www.naukri.com/'
driver.get(url)
driver.delete_all_cookies()

In [63]:
search_jobTitle = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobTitle.clear()
search_jobTitle.send_keys('Data Scientist')

In [64]:
search_location = driver.find_element(By.XPATH, '/html/body/div/div[2]/div[4]/div/div/div[3]/div/div/div/input')
search_location.clear()
search_location.send_keys('Bangalore')

In [65]:
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')

In [66]:
search_button.click()

In [67]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [68]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [69]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [70]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]

In [71]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
}, index = np.arange(1,11))

In [72]:
df

,Job Title,Company Location,Company Name
1,Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Shell
2,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell
3,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd
4,Opportunity For Data Scientist Internship - Be...,"Indore, Bangalore/Bengaluru\n(WFH during Covid)",Corner Stone Solutions
5,Louis Dreyfus Company Looking For Data Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities
6,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
7,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
8,GSC Operational Analytics Data Scientist,Bangalore/Bengaluru,Intel
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
10,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM

# Question 3

In [92]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [93]:
url = 'https://naukri.com'
driver.get(url)
driver.delete_all_cookies()

In [94]:
search_jobTitle = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobTitle.clear()
search_jobTitle.send_keys('Data Scientist')

In [95]:
search_button = driver.find_element(By.CLASS_NAME, 'qsbSubmit')

In [96]:
search_button.click()

In [97]:
location_filter = driver.find_element(By.XPATH, '//span[contains(@title,"Delhi / NCR")]')
driver.delete_all_cookies()

In [98]:
location_filter.click()

In [99]:
salary_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
driver.delete_all_cookies()

In [100]:
salary_filter.click()

In [101]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [102]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [103]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [104]:
experience = driver.find_elements(By.XPATH, '//span[contains(@title,"Yrs")]')

In [105]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]
experience_df = [_.text for _ in experience][:10]

In [109]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
    'Experience Required' : experience_df
}, index = np.arange(1,11))

In [110]:
df

,Job Title,Company Location,Company Name,Experience Required
1,Data Scientist,New Delhi,CHANGE LEADERS CONSULTING,3-8 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)",DECISION POINT PRIVATE LIMITED,1-6 Yrs
3,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
4,Data Scientist | A Fintech Organisation,Gurgaon/Gurugram,Vision Beyond Resources India Private Limited,2-7 Yrs
5,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Alp Consulting Limited,1-6 Yrs
6,Data Scientist-Onsite and offshore,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",PROKXIMITY,3-8 Yrs
7,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
8,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
9,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL,3-8 Yrs
10,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs

# Question 4

In [ ]:
s = Service('')