In [380]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Question 1

In [16]:
s   = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [17]:
url = 'https://www.naukri.com/'
driver.get(url)
driver.delete_all_cookies()

In [18]:
search_jobs = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobs.clear()
search_jobs.send_keys('Data Analyst')

In [19]:
search_location = driver.find_element(By.XPATH, '/html/body/div/div[2]/div[4]/div/div/div[3]/div/div/div/input')
search_location.clear()
search_location.send_keys('Bangalore')

In [20]:
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')

In [21]:
search_button.click()

In [28]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [29]:
experience = driver.find_elements(By.XPATH, '//span[contains(@title,"Yrs")]')

In [30]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [31]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [36]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]
experience_df = [_.text for _ in experience][:10]

In [43]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
    'Experience Required' : experience_df
}, index = np.arange(1,11))

# Question 2

In [61]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [62]:
url = 'https://www.naukri.com/'
driver.get(url)
driver.delete_all_cookies()

In [63]:
search_jobTitle = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobTitle.clear()
search_jobTitle.send_keys('Data Scientist')

In [64]:
search_location = driver.find_element(By.XPATH, '/html/body/div/div[2]/div[4]/div/div/div[3]/div/div/div/input')
search_location.clear()
search_location.send_keys('Bangalore')

In [65]:
search_button = driver.find_element(By.CLASS_NAME,'qsbSubmit')

In [66]:
search_button.click()

In [67]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [68]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [69]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [70]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]

In [71]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
}, index = np.arange(1,11))

In [72]:
df

,Job Title,Company Location,Company Name
1,Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Shell
2,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell
3,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd
4,Opportunity For Data Scientist Internship - Be...,"Indore, Bangalore/Bengaluru\n(WFH during Covid)",Corner Stone Solutions
5,Louis Dreyfus Company Looking For Data Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities
6,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
7,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
8,GSC Operational Analytics Data Scientist,Bangalore/Bengaluru,Intel
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
10,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM

# Question 3

In [92]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [93]:
url = 'https://naukri.com'
driver.get(url)
driver.delete_all_cookies()

In [94]:
search_jobTitle = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_jobTitle.clear()
search_jobTitle.send_keys('Data Scientist')

In [95]:
search_button = driver.find_element(By.CLASS_NAME, 'qsbSubmit')

In [96]:
search_button.click()

In [97]:
location_filter = driver.find_element(By.XPATH, '//span[contains(@title,"Delhi / NCR")]')
driver.delete_all_cookies()

In [98]:
location_filter.click()

In [99]:
salary_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
driver.delete_all_cookies()

In [100]:
salary_filter.click()

In [101]:
job_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

In [102]:
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [103]:
company = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

In [104]:
experience = driver.find_elements(By.XPATH, '//span[contains(@title,"Yrs")]')

In [105]:
jobs_df = [_.text for _ in job_title][:10]
location_df = [_.text for _ in location][:10]
company_df = [_.text for _ in company][:10]
experience_df = [_.text for _ in experience][:10]

In [109]:
df = pd.DataFrame(data = {
    'Job Title' : jobs_df,
    'Company Location' : location_df,
    'Company Name' : company_df,
    'Experience Required' : experience_df
}, index = np.arange(1,11))

In [110]:
df

,Job Title,Company Location,Company Name,Experience Required
1,Data Scientist,New Delhi,CHANGE LEADERS CONSULTING,3-8 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)",DECISION POINT PRIVATE LIMITED,1-6 Yrs
3,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
4,Data Scientist | A Fintech Organisation,Gurgaon/Gurugram,Vision Beyond Resources India Private Limited,2-7 Yrs
5,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Alp Consulting Limited,1-6 Yrs
6,Data Scientist-Onsite and offshore,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",PROKXIMITY,3-8 Yrs
7,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
8,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
9,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL,3-8 Yrs
10,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs

# Question 4

In [491]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [492]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [493]:
driver.maximize_window()

In [494]:
# close interuppting window
close_window = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')

In [495]:
close_window.click()

In [496]:
search_sunglasses = driver.find_element(By.CLASS_NAME, '_3704LK')
search_sunglasses.clear()
search_sunglasses.send_keys('sunglasses')

In [497]:
search_button = driver.find_element(By.CLASS_NAME,'L0Z3Pu')

In [498]:
search_button.click()

In [499]:
brand_df = []
description_df = []
price_df = []

In [500]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[0].click()

In [501]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[1].click()

In [502]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

In [507]:
df = pd.DataFrame(data = {
    'Brand' : brand_df[:100],
    'Description' : description_df[:100],
    'Price' : price_df[:100]
}, index = range(1,101))

In [518]:
df.head()

            Brand                                        Description Price
1       Rich Club                UV Protection Round Sunglasses (48)  ₹174
2  ROZZETTA CRAFT  UV Protection, Riding Glasses Rectangular Sung...  ₹426
3        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹721
4       Elligator                UV Protection Round Sunglasses (54)  ₹248
5            SRPM             UV Protection Wayfarer Sunglasses (50)  ₹188

# Question 5

In [726]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)

In [727]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

In [728]:
driver.get(url)

In [729]:
all_reviews = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')

In [730]:
all_reviews.click()

In [731]:
rating  = []
review  = []
summary = []

In [732]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]

In [733]:
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[0].click()

In [734]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [735]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [736]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [737]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [738]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [739]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [740]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [742]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [747]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [748]:
rating_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
rating += [_.text for _ in rating_element]
review_element = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
review += [_.text for _ in review_element]
summary_element = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
summary += [_.text for _ in summary_element]
next_page = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
next_page[1].click()

In [749]:
df = pd.DataFrame(data = {
    'Rating':rating[:100],
    'Review':review[:100],
    'Full Review':summary[:100]
}, index = range(1, 101)
                 )

# Question 6

In [787]:
s = Service(r'C:\Users\zobekenobe\Desktop\chromedriver.exe')
driver = webdriver.Chrome(service = s)
url = 'https://www.flipkart.com/'
driver.get(url)

In [788]:

close_window = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button').click()

In [789]:
search_sunglasses = driver.find_element(By.CLASS_NAME, '_3704LK')
search_sunglasses.clear()
search_sunglasses.send_keys('sneakers')

In [790]:
driver.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [791]:
brand_df = []
description_df = []
price_df = []

In [792]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[0].click()

In [793]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

driver.implicitly_wait(20)
test = driver.find_elements(By.CLASS_NAME,'_1LKTO3')
test[1].click()

In [794]:
brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
brand_df += [_.text for _ in brand]
description = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
description_df += [_.text for _ in description]
price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')    
price_df += [_.text for _ in price]

In [800]:
df = pd.DataFrame(data = {
    'Brand' : brand_df[:100],
    'Description' : description_df[:100],
    'Price' : price_df[:100]
})

ValueError: All arrays must be of the same length

In [799]:
len(description_df)

94

TypeError: unhashable type: 'list'

In [813]:
l[0]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [814]:
l[1]

[1, 3, 5, 7, 9]