In [130]:
import urllib
import lxml
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [208]:
url1 = 'https://en.wikipedia.org/wiki/Main_Page'
url2 = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
url3 = 'https://www.imdb.com/india/top-rated-indian-movies/'

In [132]:
def question1(url):
    text = urllib.request.urlopen(url).read().decode('utf-8')
    soup = bs(text)
    headers = soup.find_all('head')
    return headers

In [203]:
def question2(url):
    '''Since the top 100 are split over the two pages, two page links are created'''
    page1 = requests.get(url)
    page2 = requests.get(url + '&start=51&ref_=adv_nxt')
    movie_list = []
    for _ in [page1, page2]:
        soup = bs(_.content)
        text = soup.find_all('h3', {'class':'lister-item-header'})
        movie_list += [_.text.split('\n')[1:4] for _ in text]
    df = pd.DataFrame(movie_list, columns = ['Rank', 'Movie Name', 'Year'])
    df.set_index('Rank', inplace = True)
    return df

In [295]:
def question3(url):
    '''
    Since the imdb site list the top 250 movies, the list is truncated to 
    the top 100 as required
    '''
    page = requests.get(url)
    soup = bs(page.content)
    text = soup.find_all('td', {'class':'titleColumn'})
    rate = soup.find_all('td', {'class':'ratingColumn imdbRating'})
    names  = [_.text.split('\n')[1:4] for _ in text][0:100] 
    rating = [_.text.split('\n')[1] for _ in rate][0:100]

    df = pd.DataFrame(names, columns = ['Rank', 'Movie Name', 'Year'])
    df.set_index('Rank', inplace = True)
    df['rating'] = rating
    return df

                                Movie Name    Year rating
Rank
      1.                          Jai Bhim  (2021)    8.5
      2.                 Pariyerum Perumal  (2018)    8.5
      3.                           Nayakan  (1987)    8.5
      4.                        Anbe Sivam  (2003)    8.5
      5.                 C/o Kancharapalem  (2018)    8.5
...                                    ...     ...    ...
      96.              Munna Bhai M.B.B.S.  (2003)    8.1
      97.                        Sarfarosh  (1999)    8.1
      98.                             Roja  (1992)    8.1
      99.         Uri: The Surgical Strike  (2019)    8.1
      100.                           Queen  (2013)    8.1

[100 rows x 3 columns]

In [151]:
movie_list = [_.text.split('\n')[1:4] for _ in text]

In [170]:
movie_list[1]

['2.', 'The Godfather', '(1972)']

In [169]:
df = pd.DataFrame(movie_list, columns = ['rank', 'Movie Name', 'Year'])
df.set_index('rank')

                                             Movie Name    Year
rank
1.                             The Shawshank Redemption  (1994)
2.                                        The Godfather  (1972)
3.                                      The Dark Knight  (2008)
4.                               The Godfather: Part II  (1974)
5.                                         12 Angry Men  (1957)
6.        The Lord of the Rings: The Return of the King  (2003)
7.                                         Pulp Fiction  (1994)
8.                                     Schindler's List  (1993)
9.                                            Inception  (2010)
10.                                          Fight Club  (1999)
11.   The Lord of the Rings: The Fellowship of the Ring  (2001)
12.                                        Forrest Gump  (1994)
13.                     Il buono, il brutto, il cattivo  (1966)
14.                             Spider-Man: No Way Home  (2021)
15.               The Lord of the Rings: The Two Towers  (2002)
16.                                          The Matrix  (1999)
17.                                          Goodfellas  (1990)
18.      Star Wars: Episode V - The Empire Strikes Back  (1980)
19.                     One Flew Over the Cuckoo's Nest  (1975)
20.                                        Gisaengchung  (2019)
21.                                        Interstellar  (2014)
22.                                      Cidade de Deus  (2002)
23.                       Sen to Chihiro no kamikakushi  (2001)
24.                                 Saving Private Ryan  (1998)
25.                                      The Green Mile  (1999)
26.                                     La vita è bella  (1997)
27.                                               Se7en  (1995)
28.                            The Silence of the Lambs  (1991)
29.                                           Star Wars  (1977)
30.                                             Seppuku  (1962)
31.                                Shichinin no samurai  (1954)
32.                               It's a Wonderful Life  (1946)
33.                                            Whiplash  (2014)
34.                                    The Intouchables  (2011)
35.                                        The Prestige  (2006)
36.                                        The Departed  (2006)
37.                                         The Pianist  (2002)
38.                                           Gladiator  (2000)
39.                                  American History X  (1998)
40.                                  The Usual Suspects  (1995)
41.                                                Léon  (1994)
42.                                       The Lion King  (1994)
43.                          Terminator 2: Judgment Day  (1991)
44.                               Nuovo Cinema Paradiso  (1988)
45.                                      Hotaru no haka  (1988)
46.                                  Back to the Future  (1985)
47.                        Once Upon a Time in the West  (1968)
48.                                              Psycho  (1960)
49.                                         Rear Window  (1954)
50.                                          Casablanca  (1942)

In [176]:
df['Year'] = pd.to_datetime(df['Year'].str.split('(',')')[1])

In [177]:
df

   rank                                         Movie Name Year
0    1.                           The Shawshank Redemption  NaT
1    2.                                      The Godfather  NaT
2    3.                                    The Dark Knight  NaT
3    4.                             The Godfather: Part II  NaT
4    5.                                       12 Angry Men  NaT
5    6.      The Lord of the Rings: The Return of the King  NaT
6    7.                                       Pulp Fiction  NaT
7    8.                                   Schindler's List  NaT
8    9.                                          Inception  NaT
9   10.                                         Fight Club  NaT
10  11.  The Lord of the Rings: The Fellowship of the Ring  NaT
11  12.                                       Forrest Gump  NaT
12  13.                    Il buono, il brutto, il cattivo  NaT
13  14.                            Spider-Man: No Way Home  NaT
14  15.              The Lord of the Rings: The Two Towers  NaT
15  16.                                         The Matrix  NaT
16  17.                                         Goodfellas  NaT
17  18.     Star Wars: Episode V - The Empire Strikes Back  NaT
18  19.                    One Flew Over the Cuckoo's Nest  NaT
19  20.                                       Gisaengchung  NaT
20  21.                                       Interstellar  NaT
21  22.                                     Cidade de Deus  NaT
22  23.                      Sen to Chihiro no kamikakushi  NaT
23  24.                                Saving Private Ryan  NaT
24  25.                                     The Green Mile  NaT
25  26.                                    La vita è bella  NaT
26  27.                                              Se7en  NaT
27  28.                           The Silence of the Lambs  NaT
28  29.                                          Star Wars  NaT
29  30.                                            Seppuku  NaT
30  31.                               Shichinin no samurai  NaT
31  32.                              It's a Wonderful Life  NaT
32  33.                                           Whiplash  NaT
33  34.                                   The Intouchables  NaT
34  35.                                       The Prestige  NaT
35  36.                                       The Departed  NaT
36  37.                                        The Pianist  NaT
37  38.                                          Gladiator  NaT
38  39.                                 American History X  NaT
39  40.                                 The Usual Suspects  NaT
40  41.                                               Léon  NaT
41  42.                                      The Lion King  NaT
42  43.                         Terminator 2: Judgment Day  NaT
43  44.                              Nuovo Cinema Paradiso  NaT
44  45.                                     Hotaru no haka  NaT
45  46.                                 Back to the Future  NaT
46  47.                       Once Upon a Time in the West  NaT
47  48.                                             Psycho  NaT
48  49.                                        Rear Window  NaT
49  50.                                         Casablanca  NaT

In [168]:
df.rename(columns = {'1' : 'Movie Name'})

   rank                                         Movie Name    Year
0    1.                           The Shawshank Redemption  (1994)
1    2.                                      The Godfather  (1972)
2    3.                                    The Dark Knight  (2008)
3    4.                             The Godfather: Part II  (1974)
4    5.                                       12 Angry Men  (1957)
5    6.      The Lord of the Rings: The Return of the King  (2003)
6    7.                                       Pulp Fiction  (1994)
7    8.                                   Schindler's List  (1993)
8    9.                                          Inception  (2010)
9   10.                                         Fight Club  (1999)
10  11.  The Lord of the Rings: The Fellowship of the Ring  (2001)
11  12.                                       Forrest Gump  (1994)
12  13.                    Il buono, il brutto, il cattivo  (1966)
13  14.                            Spider-Man: No Way Home  (2021)
14  15.              The Lord of the Rings: The Two Towers  (2002)
15  16.                                         The Matrix  (1999)
16  17.                                         Goodfellas  (1990)
17  18.     Star Wars: Episode V - The Empire Strikes Back  (1980)
18  19.                    One Flew Over the Cuckoo's Nest  (1975)
19  20.                                       Gisaengchung  (2019)
20  21.                                       Interstellar  (2014)
21  22.                                     Cidade de Deus  (2002)
22  23.                      Sen to Chihiro no kamikakushi  (2001)
23  24.                                Saving Private Ryan  (1998)
24  25.                                     The Green Mile  (1999)
25  26.                                    La vita è bella  (1997)
26  27.                                              Se7en  (1995)
27  28.                           The Silence of the Lambs  (1991)
28  29.                                          Star Wars  (1977)
29  30.                                            Seppuku  (1962)
30  31.                               Shichinin no samurai  (1954)
31  32.                              It's a Wonderful Life  (1946)
32  33.                                           Whiplash  (2014)
33  34.                                   The Intouchables  (2011)
34  35.                                       The Prestige  (2006)
35  36.                                       The Departed  (2006)
36  37.                                        The Pianist  (2002)
37  38.                                          Gladiator  (2000)
38  39.                                 American History X  (1998)
39  40.                                 The Usual Suspects  (1995)
40  41.                                               Léon  (1994)
41  42.                                      The Lion King  (1994)
42  43.                         Terminator 2: Judgment Day  (1991)
43  44.                              Nuovo Cinema Paradiso  (1988)
44  45.                                     Hotaru no haka  (1988)
45  46.                                 Back to the Future  (1985)
46  47.                       Once Upon a Time in the West  (1968)
47  48.                                             Psycho  (1960)
48  49.                                        Rear Window  (1954)
49  50.                                         Casablanca  (1942)