In [130]:
import urllib
import lxml
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import re

In [494]:
url1 = 'https://en.wikipedia.org/wiki/Main_Page'
url2 = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
url3 = 'https://www.imdb.com/india/top-rated-indian-movies/'
url4 = 'https://meesho.com/bags-ladies/pl/p7vbp'
url5a= 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
url5b = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
url5c= 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [132]:
def question1(url):
    text = urllib.request.urlopen(url).read().decode('utf-8')
    soup = bs(text)
    headers = soup.find_all('head')
    return headers

In [203]:
def question2(url):
    '''Since the top 100 are split over the two pages, two page links are created'''
    page1 = requests.get(url)
    page2 = requests.get(url + '&start=51&ref_=adv_nxt')
    movie_list = []
    for _ in [page1, page2]:
        soup = bs(_.content)
        text = soup.find_all('h3', {'class':'lister-item-header'})
        movie_list += [_.text.split('\n')[1:4] for _ in text]
    df = pd.DataFrame(movie_list, columns = ['Rank', 'Movie Name', 'Year'])
    df.set_index('Rank', inplace = True)
    return df

In [295]:
def question3(url):
    '''
    Since the imdb site list the top 250 movies, the list is truncated to 
    the top 100 as required
    '''
    page = requests.get(url)
    soup = bs(page.content)
    text = soup.find_all('td', {'class':'titleColumn'})
    rate = soup.find_all('td', {'class':'ratingColumn imdbRating'})
    names  = [_.text.split('\n')[1:4] for _ in text][0:100] 
    rating = [_.text.split('\n')[1] for _ in rate][0:100]

    df = pd.DataFrame(names, columns = ['Rank', 'Movie Name', 'Year'])
    df.set_index('Rank', inplace = True)
    df['rating'] = rating
    return df

In [356]:
def question4(url):
    page = requests.get(url)
    text = soup(page.content)
    name = soup.find_all('p', {'class':'Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS'})
    price= soup.find_all('h5',{'class':'Text__StyledText-sc-oo0kvp-0 hiHdyy'})
    disc = soup.find_all('span', {'class' : 'Text__StyledText-sc-oo0kvp-0 lnonyH'})
    name = [_.text for _ in name]
    price= [_.text for _ in price]
    disc = [_.text for _ in disc]
    # to accomodate for cases with no discount
    p = re.compile('â‚¹0')
    i = next(i for i in range(len(price)) if p.findall(price[i]))
    disc.insert(i, '0% off')
    df = pd.DataFrame(data = {'Name':name, 'Price':price, 'Discount':disc})
    return df

In [578]:
def question5a(url):
    page = requests.get(url)
    soup = bs(page.content)
    team = soup.find_all('span', {'class':'u-hide-phablet'})
    details = soup.find_all('td', {'class':'table-body__cell u-center-text'})
    rating  = soup.find_all('td', {'class':'table-body__cell u-text-right rating'})

    team = [_.text for _ in team][:10]
    details = [_.text for _ in details]
    rating  = [_.text for _ in rating]

    match = [soup.find('td', {'class':'rankings-block__banner--matches'}).text]+details[0:18:2]
    point = [soup.find('td', {'class':'rankings-block__banner--points'}).text] +details[1:18:2]
    rating= [soup.find('td', {'class':'rankings-block__banner--rating u-text-right'}).text.split('\n')[1].strip()] + rating[:9]
    df = pd.DataFrame(data = {'Team':team, 'Matches':match, 'Points':point, 'Rating':rating}, index = range(1,11))
    return df

In [579]:
def question5b(url):
    page = requests.get(url)
    soup = bs(page.content)
    name = soup.find_all('td',{'class':'table-body__cell rankings-table__name name'})
    team = soup.find_all('span',{'class':'table-body__logo-text'})
    rate = soup.find_all('td',{'class':'table-body__cell rating'})

    name = soup.find('div', {'class':'rankings-block__banner--name-large'}).text.split('\n') + [_.text.split('\n')[1] for _ in name][:9]
    team = [soup.find('div',{'class':'rankings-block__banner--nationality'}).text.split('\n')[2]]+ [_.text for _ in team][:9]
    rate= [soup.find('div',{'class':'rankings-block__banner--rating'}).text]+[_.text for _ in rate][:9]
    df = pd.DataFrame(data = {'Name':name, 'Team':team, 'Rating':rate}, index = range(1,11))
    return df

In [580]:
def question5c(url):
    page = requests.get(url)
    soup = bs(page.content)
    name = soup.find_all('td',{'class':'table-body__cell rankings-table__name name'})
    team = soup.find_all('span',{'class':'table-body__logo-text'})
    rate = soup.find_all('td',{'class':'table-body__cell rating'})

    name = soup.find('div', {'class':'rankings-block__banner--name-large'}).text.split('\n') + [_.text.split('\n')[1] for _ in name][:9]
    team = [soup.find('div',{'class':'rankings-block__banner--nationality'}).text.split('\n')[2]]+ [_.text for _ in team][:9]
    rate= [soup.find('div',{'class':'rankings-block__banner--rating'}).text]+[_.text for _ in rate][:9]
    df = pd.DataFrame(data = {'Name':name, 'Team':team, 'Rating':rate}, index = range(1,11))
    return df

In [590]:
def question6a(url):
    page = requests.get(url)
    soup = bs(page.content)
    team = soup.find_all('span', {'class':'u-hide-phablet'})
    details = soup.find_all('td', {'class':'table-body__cell u-center-text'})
    rating  = soup.find_all('td', {'class':'table-body__cell u-text-right rating'})

    team = [_.text for _ in team][:10]
    details = [_.text for _ in details]
    rating  = [_.text for _ in rating]

    match = [soup.find('td', {'class':'rankings-block__banner--matches'}).text]+details[0:18:2]
    point = [soup.find('td', {'class':'rankings-block__banner--points'}).text] +details[1:18:2]
    rating= [soup.find('td', {'class':'rankings-block__banner--rating u-text-right'}).text.split('\n')[1].strip()] + rating[:9]
    df = pd.DataFrame(data = {'Team':team, 'Matches':match, 'Points':point, 'Rating':rating}, index = range(1,11))
    return df

In [591]:
def question6b(url):
    page = requests.get(url)
    soup = bs(page.content)
    name = soup.find_all('td',{'class':'table-body__cell rankings-table__name name'})
    team = soup.find_all('span',{'class':'table-body__logo-text'})
    rate = soup.find_all('td',{'class':'table-body__cell rating'})

    name = soup.find('div', {'class':'rankings-block__banner--name-large'}).text.split('\n') + [_.text.split('\n')[1] for _ in name][:9]
    team = [soup.find('div',{'class':'rankings-block__banner--nationality'}).text.split('\n')[2]]+ [_.text for _ in team][:9]
    rate= [soup.find('div',{'class':'rankings-block__banner--rating'}).text]+[_.text for _ in rate][:9]
    df = pd.DataFrame(data = {'Name':name, 'Team':team, 'Rating':rate}, index = range(1,11))
    return df

In [592]:
def question6c(url):
    page = requests.get(url)
    soup = bs(page.content)
    name = soup.find_all('td',{'class':'table-body__cell rankings-table__name name'})
    team = soup.find_all('span',{'class':'table-body__logo-text'})
    rate = soup.find_all('td',{'class':'table-body__cell rating'})

    name = soup.find('div', {'class':'rankings-block__banner--name-large'}).text.split('\n') + [_.text.split('\n')[1] for _ in name][:9]
    team = [soup.find('div',{'class':'rankings-block__banner--nationality'}).text.split('\n')[2]]+ [_.text for _ in team][:9]
    rate= [soup.find('div',{'class':'rankings-block__banner--rating'}).text]+[_.text for _ in rate][:9]
    df = pd.DataFrame(data = {'Name':name, 'Team':team, 'Rating':rate}, index = range(1,11))
    return df

                 Name Team Rating
1       Jess Jonassen  AUS    760
2      Jhulan Goswami  IND    727
3        Megan Schutt  AUS    717
4      Marizanne Kapp   SA    715
5   Sophie Ecclestone  ENG    701
6      Shabnim Ismail   SA    688
7     Katherine Brunt  ENG    666
8      Ayabonga Khaka   SA    643
9      Anya Shrubsole  ENG    598
10         Kate Cross  ENG    589